@value (
  Gray13,
  Gray4,
  White,
  DarkBlue,
  Black
) from 'ui/shared/themes/colors/colors.css';

@value(HorizontalPadding) from 'ui/shared/themes/variables/variables.css';

.PDPRatings {
  background-color: Gray4;
  display: none;
}

.PDPRatings_Section {
  border-bottom: solid;
  border-width: thin;
  border-color: Gray13;
  padding: 21px HorizontalPadding 15px HorizontalPadding;
  color: Black;
}

.PDPRatings_Description {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.PDPRatings_Section_Title {
  margin-bottom: 24px;
}

.PDPRatings_Stars { 
  width: auto;
}

.PDPRatings_Stars .Label {
  font-size: 12px;
  margin-right: 15px;
  margin-left: 10px;
  vertical-align: middle;
}

.PDPRatings_Stars .RatingBar_Icons {
  overflow: hidden;
  height: 100%;
  background: repeat-x url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMC45IiBoZWlnaHQ9IjEwLjkiIHZpZXdCb3g9IjAgMCA1MSA0OCI+PHBhdGggZmlsbD0iI0Y4RTcxQyIgZD0iTTI1IDFsNiAxN2gxOEwzNSAyOWw1IDE3LTE1LTEwLTE1IDEwIDUtMTdMMSAxOGgxOHoiLz48L3N2Zz4=);
}

.PDPRatings_Stars .RatingBar {
  width: auto;
}

.PDPRatings_Stars .RatingBar_Background {
  display: inline-block;
  vertical-align: middle;
  max-width: 100px;
  height: 16px;
  width: 54.5px;
  overflow: hidden;
  background: repeat-x url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMC45IiBoZWlnaHQ9IjEwLjkiIHZpZXdCb3g9IjAgMCA1MSA0OCI+PHBhdGggZmlsbD0iI0NFQ0VDRSIgZD0iTTI1IDFsNiAxN2gxOEwzNSAyOWw1IDE3LTE1LTEwLTE1IDEwIDUtMTdMMSAxOGgxOHoiLz48L3N2Zz4=);
}

.PDPRatings_SectionTitle h3 { 
  margin-bottom: 10px;
  color: Black;
  font-weight: 700;
}

.PDPRatings_SectionTitle p {
  font-size: 12px;
}

.PDPRatings-expanded {
  display: block;
}
