[data-modal-open] {
  position: fixed;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

[data-modal-open] .PDPView{
  filter: blur(5px);
}

.GalleryModal .Modal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.GalleryModal .ModalBody {
  height: 100%;
  background-color: rgba(239, 239, 239, 0.78);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.GalleryModal :global(.image-gallery-slide) img{
  height: auto;
  width: 100%
}

.GalleryModal .Modal-open {
  display: block;
}

.GalleryModal .Modal-close {
  display: none;
}

.GalleryModal_CloseButton {
  font-size: 20px;
  background: #b5b6bb;
  border-radius: 16px;
  height: 30px;
  width: 30px;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

.GalleryModal_CloseButton svg {
  width: 21px;
  height: 17px;
}

.GalleryModal_Icon {
  margin:5px;
}

.GalleryModal .GalleryNavBG {
  top: 40%
}

@media screen and (orientation:landscape) {
    .GalleryModal :global(.image-gallery) {
      width: 40%;
      margin: 0 auto;
    }

    .GalleryModal .ModalBody {
      padding-top: 10px;
    }
}
