@value ( UniversalGrey, RentBlue, DisabledText, Gray1 ) from 'ui/shared/themes/colors/colors.css';
@value MenuGap: 16px;

.Body_NoScroll {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}

.Menu_Divider {
  background-color: RentBlue;
  color: #fff;
  padding: 0 MenuGap;
  margin: 10px 0;
  line-height: 36px;
}

.Menu {
  padding-top: 8px;
  padding-bottom: MenuGap;
}

.Menu_Item {
  font-size: 14px;
  line-height: 34px;
  color: UniversalGrey;
  text-decoration: none;
  padding-left: MenuGap;
  display: block;
}

.Menu_AppBadges {
  line-height: 0;
  margin: 24px 0;
}

.Menu_AppBadge,
.Menu_AppBadge img {
  display: inline-block;
  width: 150px;
  height: 50px;
}

.Menu_AppBadge {
  margin-left: MenuGap;
}

.menuTransformBase {
  z-index: 1000;
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 42px;
  bottom: 0;
  left: -100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
}

.hideTransform {
  transform: translate3d(0, 0, 0);
}

.showTransform {
  transform: translate3d(100%, 0, 0);
}

.Menu_SignIn {
  color: DisabledText;
}

.Menu_Terms {
  color: Gray1;
  font-size: 12px;
  margin-left: MenuGap;
}

.Menu_EHO {
  width: 125px;
  height: 25px;
  margin-left: MenuGap;
}
