@value ( RentBlue,
RentBlue66,
RentBlue33,
DarkBlue,
UniversalGrey,
Gray2,
Gray3,
Red) from 'ui/shared/themes/colors/colors.css';

.Button-map {
  height: 200px;
  width: 200px;
  background: RentBlue;
}

.Button_Link {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

.Button-apply {
  width: 180px;
  height: auto;
  padding: 10px;
  border-radius: 4px;
  background-color: RentBlue;
  color: #fff;
  box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.15);
}

.Button,
.ButtonRaised {
  text-decoration: none;
  display: inline-block;
  height: 36px;
  padding: 0 16px;
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.Button[hidden],
.ButtonRaised[hidden] {
  display: none;
}

.ButtonRaised,
.ButtonRaised-hover,
.ButtonRaised:hover {
  background-color: RentBlue;
  color: #fff;
}

.ButtonRaised-hover,
.ButtonRaised:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.ButtonRaised-active,
.ButtonRaised:active {
  background-color: RentBlueDark;
  border: 2px solid RentBlue;
}

.ButtonRaised-disabled,
.ButtonRaised:disabled {
  opacity: 0.3;
}

.ButtonRaised_Secondary {
  background-color: #fff;
  color: RentBlue;
  box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.15);
}

.buttonRaised_Secondary-hover,
.buttonRaised_Secondary:hover,
.ButtonRaised_Secondary-active,
.ButtonRaised_Secondary:active,
.ButtonRaised_Secondary-disabled,
.ButtonRaised_Secondary:disabled {
  background-color: #fff;
  color: RentBlue33;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.ButtonRaised_Secondary-active
.ButtonRaised_Secondary:active {
  color: DarkBlue;
}

.ButtonRaised_Secondary-disabled,
.ButtonRaised_Secondary:disabled {
  color: RentBlue66;
  opacity: 0.3;
}

.ButtonOutline,
.ButtonOutline-hover,
.ButtonOutline:hover,
.ButtonOutline-active
.ButtonOutline:active,
.ButtonOutline-disabled,
.ButtonOutline:disabled {
  border: 1px solid RentBlue33;
  background-color: #fff;
  color: RentBlue33;
  box-shadow: none;
}

.ButtonOutline-hover
.ButtonOutline:hover {
  color: RentBlue66;
}

.ButtonOutline-active
.ButtonOutline:active {
  border: 1px solid DarkBlue;
  color: DarkBlue;
}

.ButtonOutline-disabled,
.ButtonOutline:disabled {
  border: 1px solid Gray2;
  color: Gray2;
}

.ButtonSmall,
.ButtonSmall-hover
.ButtonSmall:hover,
.ButtonSmall-active.
.ButtonSmall:active {
  height: 32px;
}

.ButtonSmall-hover,
.ButtonSmall:hover {
  border: solid 1px RentBlue66;
  background-color: #fff;
  color: RentBlue66;
}

.ButtonSmall-active,
.ButtonSmall:active {
  border: 1px solid DarkBlue;
  background-color: #fff;
  color: DarkBlue;
}

.ButtonSmall-disabled,
.ButtonSmall:disabled {
  height: 32px;
  border: 1px solid Gray2;
  background-color: #fff;
  color: Gray2;
}

.ButtonFloat-Circle,
.ButtonFloat-Circle-active,
.ButtonFloat-Circle:active,
.ButtonFloat-Circle-disabled,
.ButtonFloat-Circle:disabled {
  width: 36px;
  height: 36px;
  padding: 5px 4px 0 3px;
  background-color: RentBlue;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.72);
}

.ButtonFloat-Circle-active,
.ButtonFloat-Circle:active,
.ButtonFloat-Circle-disabled,
.ButtonFloat-Circle:disabled {
  box-shadow: none;
}

.ButtonFloat-Circle-disabled,
.ButtonFloat-Circle:disabled {
  background-color: Gray3;
}
