.GalleryNav {
  position: absolute;
  z-index: 10;
  font-size: 25px;
  outline: 0;
  color: #fff;
  padding: 4px 15px;
  top: 55%;
  transform: translateY(-50%);
  border: 0;
  cursor: pointer;
}

.GalleryNavBG {
  position: absolute;
  z-index: 9;
  top: 30%;
  height: 57px;
  width: 26px;
  background-color: rgba(0, 0, 0, 0.3);
}

.GalleryNav_Prev {
  left: -15px;
}

.GalleryNavBG_Prev {
  left: 0;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
}

.GalleryNav_Next {
  right: -15px;
}

.GalleryNavBG_Next {
  right: 0;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
}

.GalleryNav svg {
  fill: #fff;
  stroke: #fff;
  height: 1em;
  width: 0.8em;
}
