@value ( UniversalGrey ) from 'ui/shared/themes/colors/colors.css';

.Title-sm-semibold {
  font-weight: 400;
  font-size: 14px;
  line-height: 34px;
  color: UniversalGrey;
}

.Title-md-light {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: UniversalGrey;
}

.Title-md-semilight {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
