.Text {
  color: aqua;

  .SuperNest {
    font-size: 83px;

    .wat {
      color: orange;
    }
  }
}

.button {
  font-size: 72px;
  padding: 18px;
  display: block;
}

.button svg {
  color: blue;
}

.button h1 {
  font-size: 93px;
}

.thisWreapper .button .someclass {
  background: orange;
}