@value ( Gray11 ) from 'ui/shared/themes/colors/colors.css';

.Footer {
  margin: 24px 0;
  font-size: 12px;
}

.Footer_Content {
  margin: 0 auto;
  border-top: solid 1px Gray11;
  max-width: 1024px;
}

.Footer_ClosingContent {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
