.Button {
  color: orange;
  font-size: 92px;
  font-weight: bold;
}

.Foo {
  color: blue;
}

@media (min-width: 765px) {
  .Button {
    color: pink;
    font-size: 72px;
    background: url(' ') no-repeat center;
  }
}