.PDPGallery :global(.image-gallery-slide) {
  padding: 0;
  width: 100%;
  height: 375px;
}

.PDPGallery :global(.image-gallery-slide) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.PDPGallery .GalleryNavBG {
  top: 42%;
}
