@value ( RentBlue, UniversalGrey, Gray1 ) from 'ui/shared/themes/colors/colors.css';

.LeadModal {
}

.LeadModal .Modal {
  width: 374px;
  height: 604px;
  /* Prevent modal from going off-screen at the top for small window height */
  max-height: 100vh;
  /* Override position absolute which is being set elsewhere */
  position: static;

  /* In case the modal is taller than window size */
  overflow-y: auto;
}

.LeadModal .Modal::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.LeadModal .ModalBody {
  padding: 16px;
  min-height: calc(100% - 32px);
  background: #fff;
}

.LeadModal .ModalBody:after {
  content: "";
  display: table;
  clear: both;
}

.LeadModal .Modal-open {
  display: block;
}

.LeadModal .Model-close {
  display: none;
}

.LeadModal .CloseButton {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.LeadModal .CloseButton svg {
  width: 1em;
  height: 1em;
}

.LeadModal .Modal_Header {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: UniversalGrey;
  text-decoration: none;
}

.LeadModal .Modal_Header a {
  color: RentBlue;
}

.LeadModal .Modal_SubHeader {
  color: Gray1;
  font-size: 16px;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 13px;
}

.LeadModal .Modal_SubHeader_PropertyTitle {
  color: UniversalGrey;
}
